[Unit]
Description=Check HLS Video Gallery (@@INSTANCE_ID@@) quality-analysis queue

[Timer]
OnBootSec=30s
OnUnitInactiveSec=@@QUALITY_INTERVAL@@s
RandomizedDelaySec=0
AccuracySec=100ms
Persistent=true
Unit=hls-gallery-@@INSTANCE_ID@@-quality.service

[Install]
WantedBy=timers.target
